In [86]:
# Q1

pin = '881120-1068234'
yyyymmdd = pin[:6]
num = pin[7:]
print(yyyymmdd)
print(num)

881120
1068234

In [3]:
# Q2

pin = "881120-1068234"
print(pin[7])

1

In [7]:
# Q3

a = [1,3,5,4,2]
a.sort()
a.reverse()
print(a)

[5, 4, 3, 2, 1]

In [15]:
# Q4

a = ['Life','is','too','short']
result = a[0] + " " + a[1] + " " + a[2] + " " + a[3]
print(result)

Life is too short

In [83]:
# Q5

a = (1, 2, 3)
a = a + (4,)
print(a)

(1, 2, 3, 4)

In [51]:
# Q7
a = {'A':90, 'B':80, 'C':70}
result = a.get('B')
del a['B']
print(a) # {'A':90, 'C':70}
print(result) # 80 출력

{'A': 90, 'C': 70}
80

In [53]:
# Q8
a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
aSet = set(a)
b = list(aSet)
print(b) # [1, 2, 3, 4, 5] 출력

[1, 2, 3, 4, 5]

In [71]:
# Q9 파이썬은 다음처럼 동일한 값에 여러 개의 변수를 선언할 수 있다. 다음과 같이 a, b 변수를 선언한 후 a의 첫 번째 요소값을 변경하면 b 값은 어떻게 될까? 그리고 이런 결과가 나오는 이유에 대해 설명해 보자.
a = b = [1, 2, 3]
a[1] = 4
print(a)
print(b)
# 얕은 복사라 실제 값이 아닌 주소값을 참조함

[1, 4, 3]
[1, 4, 3]