# 변수

In [2]:
12340 * 1/2

6170.0

In [3]:
abc = 12340

In [4]:
type(abc)

int

In [5]:
print (abc * 1/2)

6170.0

In [6]:
string1 = "String Test 1"
string2 = "String Test 2"
print(string1)
print(string2)

String Test 1

In [8]:
print(type(string1))
print(type(string2))

<class 'str'>
<class 'str'>

In [9]:
string3 = 'This is a "double" quotation test'
string4 = "This is a 'single' quotation test"
print(string3)
print(string4)

This is a "double" quotation test
This is a 'single' quotation test

In [15]:
long_string1 = '''[삼중 작은따옴표를 사용한 예]
파이썬에는 삼중 따옴표로 여러 행의 문자열을 입력할 수 있습니다.
큰따옴(")과 작은따옴표(')도 입력할 수 있다'''

print(long_string1)
#주석...

'''
첫줄주석
두줄주석
세줄주석
'''

[삼중 작은따옴표를 사용한 예]
파이썬에는 삼중 따옴표로 여러 행의 문자열을 입력할 수 있습니다.
큰따옴(")과 작은따옴표(')도 입력할 수 있다

'\n첫줄주석\n두줄주석\n세줄주석\n'

# 문자열 다루기

In [21]:
a = 'Enjoy '
b = 'python!'
c = a + b
print(c)

Enjoy python!

In [22]:
print(a*3)

Enjoy Enjoy Enjoy

# 리스트

In [20]:
# 리스트 만들기: [] cf 튜플은 (), 딕셔너리{}
# 1번 학생의 국어, 영어, 수학, 과학 점수가 각각 90, 85, 85, 80
student1 = [90,95,85,80]
type(student1)

list

In [23]:
print(student1)

[90, 95, 85, 80]

In [24]:
print(student1[0])

90

In [25]:
print(student1[-1])

80

In [26]:
print(student1[2])

85

In [28]:
student1[1] = 100

In [29]:
print(student1[1])

100

In [30]:
myFriends = ['James', 'Robert', 'Lisa', 'Mary']
print(myFriends)

['James', 'Robert', 'Lisa', 'Mary']

In [32]:
mixedList = [0,1,3.14, 'python', 'program', True, myFriends]
print(mixedList)

[0, 1, 3.14, 'python', 'program', True, ['James', 'Robert', 'Lisa', 'Mary']]

In [33]:
#리스트 다루기
#리스트 더하기와 곱하기
list_con1 = [1,2,3,4]
list_con2 = [5,6,7,8]
list_con = list_con1 + list_con2
print(list_con)

[1, 2, 3, 4, 5, 6, 7, 8]

In [35]:
#리스트중 일부 항목 가져오기
list_data = [0,1,2,3,4,5,6,7,8,9]
print(list_data)
print(list_data[0:3])
print(list_data[4:8])
print(list_data[:3])
print(list_data[7:])
print(list_data[::2]) #건너뛰기

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2]
[4, 5, 6, 7]
[0, 1, 2]
[7, 8, 9]
[0, 2, 4, 6, 8]

In [37]:
# 리스트에서 항목 삭제하기
print(list_data)
del (list_data[5])
print(list_data)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 6, 7, 8, 9]

In [38]:
#리스트에서 항목의 존재 여부 확인하기
list_data1 = [1,2,3,5]
print(5 in list_data1)
print(6 in list_data1)

True
False

In [41]:
myFirends = ['james','Robert', 'Lisa', 'Mary' ]
print(myFirends)

['james', 'Robert', 'Lisa', 'Mary']

# 튜플

In [45]:
tuple5 = (1,2,3,4)
print(type(tuple5))

<class 'tuple'>

In [46]:
tuple5[1] = 5 #'tuple' object does not support item assignment

TypeError: 'tuple' object does not support item assignment

In [49]:
tuple2 = 5,6,7,8
print(type(tuple2))

<class 'tuple'>

In [50]:
del tuple5[1]

TypeError: 'tuple' object doesn't support item deletion

In [52]:
#tuple지우기 : tuple -> list 변환후 해당자료 삭제 -> tuple 변환
tuple6 = list(tuple5)
type(tuple6)
del tuple6[1]
print(tuple(tuple6))

(1, 3, 4)

In [53]:
tuple6 = ('a', 'b', 'c', 'd')
tuple6.index('c')

2

In [54]:
tuple7 = ('a', 'b', 'c', 'a')
tuple7.count('a')

2

# 세트

In [55]:
#세트만들기 {}
set1 = {1,2,3}
set2 = {1,2,3,4}
print(set1)
print(set2)

{1, 2, 3}

In [56]:
type(set1)

set

In [61]:
# 세트의 교집합, 합집합, 차집합 구하기
A = {1,2,3,4,5}
B = {4,5,6,7,8,9,10}
print(A.intersection(B)) # 교집합
print(A & B)

{4, 5}
{4, 5}

In [63]:
print(A.union(B)) # 합집합
print(A | B)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [64]:
print(A.difference(B)) # 차집합
print(A - B)

{1, 2, 3}
{1, 2, 3}

In [70]:
# 리스트, 튜플, 세트 간 타입 변환
a = [1,2,3,4,5]
print(type(a))
print(a)

<class 'list'>
[1, 2, 3, 4, 5]

In [69]:
b = tuple(a)
print(type(b))
print(b)

<class 'tuple'>
(1, 2, 3, 4, 5)

In [71]:
c = set(a)
print(type(c))
print(c)

<class 'set'>
{1, 2, 3, 4, 5}

# 딕셔너리

In [72]:
# 딕셔너리 만들기: {key : value}
country_capital = {"영국":"런던", "프랑스":"파리", "스위스":"베른", "호주":"멜버른"}
print(country_capital)

{'영국': '런던', '프랑스': '파리', '스위스': '베른', '호주': '멜버른'}

In [73]:
print(type(country_capital))

<class 'dict'>

In [74]:
country_capital["영국"]

'런던'

In [77]:
mixed_dict = {1:10, 'dict_num':{1:10, 2:20}, "dict_list_tuple":{'A':[11,12,13], 'B':(21,22,23),"dict_string": "이것은 책입니다"}}
print(mixed_dict)

{1: 10, 'dict_num': {1: 10, 2: 20}, 'dict_list_tuple': {'A': [11, 12, 13], 'B': (21, 22, 23), 'dict_string': '이것은 책입니다'}}

In [78]:
# 딕셔너리 다루기
country_capital["독일"] = "베를린"
print(country_capital)

{'영국': '런던', '프랑스': '파리', '스위스': '베른', '호주': '멜버른', '독일': '베를린'}

In [79]:
country_capital["호주"] = "캔버리"
print(country_capital)

{'영국': '런던', '프랑스': '파리', '스위스': '베른', '호주': '캔버리', '독일': '베를린'}

In [80]:
# 딕셔너리에서 데이터 삭제하기
del country_capital["독일"]
print(country_capital)

{'영국': '런던', '프랑스': '파리', '스위스': '베른', '호주': '캔버리'}

In [82]:
# 딕셔너리 메소드 활용하기
fruit_code = {'사과': 101, "배":102, "딸기": 103, "포도": 104, "바나나": 105}
print(fruit_code.keys())

dict_keys(['사과', '배', '딸기', '포도', '바나나'])

In [84]:
print(fruit_code.values())

dict_values([101, 102, 103, 104, 105])

In [86]:
print(fruit_code.items())

dict_items([('사과', 101), ('배', 102), ('딸기', 103), ('포도', 104), ('바나나', 105)])

In [87]:
list(fruit_code.keys())

['사과', '배', '딸기', '포도', '바나나']

In [88]:
list(fruit_code.values())

[101, 102, 103, 104, 105]

In [89]:
list(fruit_code.items())

[('사과', 101), ('배', 102), ('딸기', 103), ('포도', 104), ('바나나', 105)]